@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
img{
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Calligraffitti', cursive;
}

.btn {
  margin-bottom: 30px;
  background-color: #444d7a;
  color: #D9EDF7;
}

button {
  margin-bottom: 30px;
  background-color: #444d7a;
  color: #D9EDF7;
  border-radius: 5px;
}

thead {
  background-color: #444d7a;
  color: #D9EDF7;
}
td .link{
  text-align: center;
}
