img{
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
  font-family: Century Gothic, Avant Garde, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.btn {
  margin-bottom: 30px;
  background-color: #444d7a;
  color: #D9EDF7;
}

button {
  margin-bottom: 30px;
  background-color: #444d7a;
  color: #D9EDF7;
  border-radius: 5px;
}

thead {
  background-color: #444d7a;
  color: #D9EDF7;
}
.link{
  text-align: center;
}
