<form name="wishForm" ng-submit="wishForm.$valid && wish.addWish()" novalidate>
  <div class="form-group" ng-class="{'has-error': !wish.newWish.name}">
    <label class="control-label">name</label>
    <input class="form-control" type="text" ng-model="wish.newWish.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !wish.newWish.price}"> 
    <label class="control-label">price</label>
    <input class="form-control" type="text" ng-model="wish.newWish.price" required>
  </div>
  <div class="form-group" ng-class="{'has-error: !wish.newWish.image}">
    <label class="control-label">image</label>
    <input class="form-control" type="text" ng-model="wish.newWish.link" required>
  </div>
  <div class="form-group">
    <label class="control-label">link to site</label>
    <input class="form-control" type="text" required>
  </div>
  <input type="submit" value="add wish" ng-disabled="wishForm.$invalid">
</form>
