<form name="wishForm" ng-submit="wishForm.$valid && wish.addItem()" novalidate>
  <div class="form-group" ng-class="{'has-error': !wish.item.name}">
    <label class="control-label">name</label>
    <input class="form-control" type="text" ng-model="wish.newItem.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !wish.item.price}">
    <label class="control-label">price</label>
    <input class="form-control" type="text" ng-model="wish.newItem.price" required>
  </div>
  <div class="form-group">
    <label class="control-label">image</label>
    <input class="form-control" type="text" ng-model="wish.newItem.image" >
  </div>
  <div class="form-group">
    <label class="control-label">link to site</label>
    <input class="form-control" type="text" ng-model="wish.newItem.link" required>
  </div>
  <input type="submit" value="add item" ng-disabled="wishForm.$invalid">
</form>
