<table class="table table-bordered">
    <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Image</th>
        <th>Link</th>
        <th>Delete</th>
    </thead>
    <thead ng-repeat="(itemID, item) in wish.items">
        <td>{{item.name}}</td>
        <td>${{item.price}}</td>
        <td><img ng-src="{{item.image}}"></td>
        <td><a ng-href="{{item.link}}">{{item.link}}</a></td>
        <td>
          <button ng-click="wish.deleteItem(itemID)">x</button>
        </td>
        <td>
          <a class="btn btn-primary" href="/#/{{itemID}}">Show Item</a>
          <a class="btn btn-primary" href="/#/{{itemID}}/edit">Edit Item</a>
        </td>
    </thead>
</table>
